In [1]:
#for pandas
import pandas as pd

In [2]:
#Connecting google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Setting a path for the data file
folder = '/content/drive/My Drive/Project_4/'

In [4]:
#A function that opens the file path for the dataset
def open_file(fpath):
  data = pd.read_csv(fpath)
  return data

In [5]:
#Opens the file from the given path and turns it into a dataframe
fpath = f'{folder}/ncaa-team-data.csv'
data = open_file(fpath)
data

,school,conf,rk,w,l,wl,srs,sos,pts_for,pts_vs,pts_total,ap_pre,ap_high,ap_final,pts_diff,ncaa_result,ncaa_numeric,season,coaches,year
0,air-force,MWC,1,12.0,21.0,0.364,-2.99,1.08,73.1,75.1,148.2,30.0,30.0,30.0,-2.0,NaN,0.0,2016-17,Dave Pilipovich (12-21),2016.0
1,air-force,MWC,2,14.0,18.0,0.438,-5.51,0.66,68.4,72.8,141.2,30.0,30.0,30.0,-4.4,NaN,0.0,2015-16,Dave Pilipovich (14-18),2015.0
2,air-force,MWC,3,14.0,17.0,0.452,-1.85,-0.71,65.7,65.1,130.8,30.0,30.0,30.0,0.6,NaN,0.0,2014-15,Dave Pilipovich (14-17),2014.0
3,air-force,MWC,4,12.0,18.0,0.400,-4.08,1.71,66.0,69.1,135.1,30.0,30.0,30.0,-3.1,NaN,0.0,2013-14,Dave Pilipovich (12-18),2013.0
4,air-force,MWC,5,18.0,14.0,0.563,4.18,4.28,70.0,67.8,137.8,30.0,30.0,30.0,2.2,NaN,0.0,2012-13,Dave Pilipovich (18-14),2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24024,youngstown-state,OVC,33,19.0,11.0,0.633,-0.49,-2.05,NaN,NaN,NaN,30.0,30.0,30.0,NaN,NaN,0.0,1984-85,Mike Rice (19-11),1984.0
24025,youngstown-state,OVC,34,18.0,11.0,0.621,-4.28,-4.32,NaN,NaN,NaN,30.0,30.0,30.0,NaN,NaN,0.0,1983-84,Mike Rice (18-11),1983.0
24026,youngstown-state,OVC,35,15.0,12.0,0.556,-7.69,-5.78,NaN,NaN,NaN,30.0,30.0,30.0,NaN,NaN,0.0,1982-83,Mike Rice (15-12),1982.0
24027,youngstown-state,OVC,36,8.0,18.0,0.308,-9.51,-6.19,NaN,NaN,NaN,30.0,30.0,30.0,NaN,NaN,0.0,1981-82,Dom Rosselli (8-18),1981.0
24028,youngstown-state,Ind,37,10.0,14.0,0.417,NaN,NaN,NaN,NaN,NaN,30.0,30.0,30.0,NaN,NaN,0.0,1947-48,Dom Rosselli (10-14),1947.0

In [6]:
#A function turning arguments into a numeric type (for division)
def numeric(data):
  data['w'] = pd.to_numeric(data['w'])
  data['l'] = pd.to_numeric(data['l'])
  return data

In [7]:
#Calculating the winrate for every team
def win_rate(data):
  wins = data['w'] #assigning the 'w' column to a str
  losses = data['l'] #assinging the 'l' column to a str
  total = wins + losses #adding up wins and losses
  if total > 0: #To parse through and find teams that have a winrate of '0' (prevents the error of "float divison by zero")
    data_div = wins/total
    return data_div

In [8]:
#A function that applies a new column 'winrate' to the dataset
def apply_win_rate(data):
  data['winrate'] = data.apply(win_rate, axis=1) #defining the new column "winrate" and applying it through the .apply() function, axis=1 represents columns - in this case, "winrate" is being applied as a column
  return data

In [9]:
#Testing the function to see if the column is applied to the dataset
data_winrate = apply_win_rate(data)
data_winrate

,school,conf,rk,w,l,wl,srs,sos,pts_for,pts_vs,...,ap_pre,ap_high,ap_final,pts_diff,ncaa_result,ncaa_numeric,season,coaches,year,winrate
0,air-force,MWC,1,12.0,21.0,0.364,-2.99,1.08,73.1,75.1,...,30.0,30.0,30.0,-2.0,NaN,0.0,2016-17,Dave Pilipovich (12-21),2016.0,0.363636
1,air-force,MWC,2,14.0,18.0,0.438,-5.51,0.66,68.4,72.8,...,30.0,30.0,30.0,-4.4,NaN,0.0,2015-16,Dave Pilipovich (14-18),2015.0,0.437500
2,air-force,MWC,3,14.0,17.0,0.452,-1.85,-0.71,65.7,65.1,...,30.0,30.0,30.0,0.6,NaN,0.0,2014-15,Dave Pilipovich (14-17),2014.0,0.451613
3,air-force,MWC,4,12.0,18.0,0.400,-4.08,1.71,66.0,69.1,...,30.0,30.0,30.0,-3.1,NaN,0.0,2013-14,Dave Pilipovich (12-18),2013.0,0.400000
4,air-force,MWC,5,18.0,14.0,0.563,4.18,4.28,70.0,67.8,...,30.0,30.0,30.0,2.2,NaN,0.0,2012-13,Dave Pilipovich (18-14),2012.0,0.562500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24024,youngstown-state,OVC,33,19.0,11.0,0.633,-0.49,-2.05,NaN,NaN,...,30.0,30.0,30.0,NaN,NaN,0.0,1984-85,Mike Rice (19-11),1984.0,0.633333
24025,youngstown-state,OVC,34,18.0,11.0,0.621,-4.28,-4.32,NaN,NaN,...,30.0,30.0,30.0,NaN,NaN,0.0,1983-84,Mike Rice (18-11),1983.0,0.620690
24026,youngstown-state,OVC,35,15.0,12.0,0.556,-7.69,-5.78,NaN,NaN,...,30.0,30.0,30.0,NaN,NaN,0.0,1982-83,Mike Rice (15-12),1982.0,0.555556
24027,youngstown-state,OVC,36,8.0,18.0,0.308,-9.51,-6.19,NaN,NaN,...,30.0,30.0,30.0,NaN,NaN,0.0,1981-82,Dom Rosselli (8-18),1981.0,0.307692
24028,youngstown-state,Ind,37,10.0,14.0,0.417,NaN,NaN,NaN,NaN,...,30.0,30.0,30.0,NaN,NaN,0.0,1947-48,Dom Rosselli (10-14),1947.0,0.416667

In [10]:
#Grouping by multiple columns. In this case, I am keeping the original columns of coaches and year, and finding the mean for the winrate (to determine the average winrate for each coach and which year).
new_data = data.groupby(['school','coaches', 'season']).agg({'winrate': ['mean']}) 
#Creating a new column for the mean winrate
new_data.columns = ['winrate'] 
#Generating a new dataframe or series with the index reset and dropping "NaN" values in the dataset
new_data = new_data.reset_index().dropna()

In [11]:
#Sorts by the highest average winrate and grabs the first 5 (in this case it would be the top five)
top_5 = new_data.sort_values(by='winrate', ascending=False).head(5)
#Sorts by the least average winrate and grabs the first 5 (in this case it would be the worst five)
last_5 = new_data.sort_values(by='winrate', ascending=True).head(5)

In [13]:
#Creates a new dataset with only the top 5 best winrates and the worst 5 winrates
top_last_5 = pd.concat([top_5, last_5], axis=0)
top_last_5

                 school                 coaches   season  winrate
13139          nebraska      Frank Lehmer (4-0)  1898-99      1.0
2129           bucknell  Student Coaches (10-0)  1902-03      1.0
8744               iowa                 Unknown  1892-93      1.0
3289            citadel        C.F. Myers (9-0)  1918-19      1.0
1789      brigham-young      E.L. Roberts (7-0)  1911-12      1.0
13599  new-mexico-state                No coach  1904-05      0.0
18379    south-carolina        J.H. Brown (0-3)  1908-09      0.0
15551            oregon    Walter Winslow (0-5)  1905-06      0.0
13600  new-mexico-state                No coach  1905-06      0.0
20224   texas-christian       Bill Driver (0-3)  1920-21      0.0